body {
    font-family: 'Cuprum', sans-serif;
    text-shadow: .5px .5px 4px black;
}

h1 {
    text-align: center;
}

.total-card-container {

     background-color: lightgrey;

}

.weekly-card-container{
    color: white;
    text-align: center;
    padding: 15px;
}

.weekly-card-container h2 {
    margin-top: 0rem;
    padding-top: 0rem;
    text-shadow: 2px 2px 10px black;
}

.daily-card-container{
    display: inline-block;
    text-align: center;
    width: 18%;
    padding: 20px;
    background: linear-gradient(135deg,rgba(214, 188, 75, 0.8),rgba(0,0,0,0)), url(bg-1.jpg);
    box-sizing: border-box;
    box-shadow: 4px 4px 20px black;
    border-radius: 10px;
    text-shadow: 2px 2px 4px black;
}

/* button styling to access project, maybe need grid as resizing doesnt flow well*/

.button-to-project {

    display: inline-block;
    width: 80px;
    padding: 12px;
    box-sizing: border-box;
    color:white;
    background-color: lightblue;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 2px 2px 10px black;
    text-decoration: none;
}

.button-to-project:active{
    box-shadow: none;
}

