h1 {
    text-align: center;
}

.total-card-container {

    background-color: lightgrey;

}

.weekly-card-container{
    color: white;
    text-align: center;
    padding: 15px;
}

.weekly-card-container h2 {
    margin-top: 0rem;
    padding-top: 0rem;
    text-shadow: 2px 2px 10px black;
}

.daily-card-container{
    display: inline-block;
    text-align: center;
    width: 18%;
    padding: 20px;
    background-color:cornflowerblue;
    box-sizing: border-box;
    box-shadow: 4px 4px 20px black;
    border-radius: 10px;
    text-shadow: 2px 2px 10px black;
}

.button-to-project {

    display: block;
    width: 100px;
    padding: 12px;
    box-sizing: border-box;
    color:white;
    background-color: lightblue;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 2px 2px 10px black;
    text-decoration: none;
}

.button-to-project:active{
    box-shadow: none;
}

